.autoComp-background{
    max-width: 300px;
    border: 1px solid rgb(201, 192, 192);
    border-radius: 5px;
}

.autoComp-background:hover {
    background-color: rgb(181, 206, 202);
    color: rgb(5, 24, 24);
    cursor: pointer;
}

.medicine-div {
    height: auto;
    margin-bottom: 40px;
}

.advice-div {
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.onboardBanner{
    width: 100% !important;
    height: auto;
    object-fit: cover;
}

.onboardForm{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 90%;
}

.section-title-login {
    margin-top: 50px;
    margin-bottom: 10px;
    color: #051b35;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

.site-btn-login{
    font-weight: 300;
    padding: 5px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
    background: #051b35 !important;
}

